@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  /* margin: 0px; */
  /* max-width: 800px; */
  margin: auto;
  line-height: 2.3em;
  font-weight: 200;
  background: url("images/halftone-yellow.png");
}
